<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Doces da Madra{% endblock %}</title>
        {% block stylesheets %}
            <link href="/assets/css/materialize.css" rel="stylesheet">
            <link href="/assets/css/main.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="hero-image">
                <div class="hero-text">
                    <h1 style="font-size:50px">Doces da Madra</h1>
                    {% if not is_granted('ROLE_LOGADO') %}
                        <a href="{{ path('cadastrar_usuario') }}" class="btn blue list-point">Cadastre-se</a>
                        <br>
                        <br>
                        <a href="{{ path('app_login') }}" class="white-text">ou entre na sua conta para fazer um pedido</a>
                    {% endif %}
                </div>
            </div>

            <nav>
                {% if not is_granted('ROLE_LOGADO') %}
                    <div class="nav-wrapper blue">
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{ path('default') }}"> Início </a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="nav-wrapper blue">
                        {#<a href="#" class="brand-logo">Doces da Madra</a>#}
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{ path('default') }}"> Início </a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('cadastro_produto') }}">Cadastrar Produto</a></li>
                            {% endif %}
                            {#{% if not is_granted('ROLE_LOGADO') %}#}
                                {#<li><a href="{{ path('cadastrar_usuario') }}">Cadastrar Usuário</a></li>#}
                            {#{% endif %}#}
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('carrinho') }}">Carrinho</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('pedidos_admin') }}">Pedidos</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('pedidos_user') }}">Pedidos</a></li>
                            {% endif %}
                            {% if not is_granted('ROLE_LOGADO') %}
                            <li><a href="{{ path('app_login') }}">Entrar</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_LOGADO') %}
                                <li><a href="{{ path('app_logout') }}">Sair</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </nav>
        {% endblock %}

        <div class="container content">
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>