{% extends 'base.html.twig' %}

{% block body %}
    <h3>Produtos</h3>
    <table class="centered">
       <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Opçõe</th>
                {% endif %}
            </tr>
       </thead>
       <tbody>
           {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.precovenda }}</td>
                    <td>{{ produto.descricao }}</td>
                    {% if is_granted('ROLE_USER') %}
                        <td class="row centered">
                            <form action="" type="POST">
                                <input id="input-{{ produto.id }}" class="col s9" type="number">
                            </form>
                            {#<div class="col s6">#}
                                {#{{ form_start(form) }}#}
                                    {#{{ form_row(form.qtd) }}#}
                                {#{{ form_end(form) }}#}
                            {#</div>#}
                            <a onclick="teste({{ produto.id }})" data-target="modal1" class="btn blue" data-id="{{ produto.id }}">
                                <i class="material-icons">
                                    add_shopping_cart
                                </i>
                            </a>

                        </td>
                    {% endif %}
                </tr>
           {% endfor %}

       </tbody>
    </table>

    <script>
        function teste(id) {
            var idProduto = id;
            var qtdProduto = document.getElementById('input-' + id).value;
            let route = "{{ path('adicionar_carrinho') }}";
            {#let route = "{{ path('adicionar_carrinho', { 'idProduto': 2, 'qtdProduto': 20 }) }}";#}
            // route = Routing.generate('adicionar_carrinho', { 'idProduto': 2, 'qtdProduto': 20 });
            location.href = route + '/' + idProduto + '?qtdProduto=' + qtdProduto ;
        }
    </script>

{% endblock %}


